[Desktop Entry]
Type=Application
Name=Avi Studio
Comment=The practical and pragmatic code editor.
Exec=avi-studio %F
Icon=avi-studio
Terminal=false
StartupWMClass=dev.avi.Studio
Categories=Development;IDE;TextEditor;
MimeType=text/plain;inode/directory;
